#signup {
  background: #dadada;
  padding: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;

  input[type="email"]{
    width: 15em;
  }
  
  .btn{
    /*background: #f8ffe8; [> Old browsers <]*/
    /*background: -moz-linear-gradient(top,  #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%); [> FF3.6+ <]*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8ffe8), color-stop(33%,#e3f5ab), color-stop(100%,#b7df2d)); [> Chrome,Safari4+ <]*/
    /*background: -webkit-linear-gradient(top,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); [> Chrome10+,Safari5.1+ <]*/
    /*background: -o-linear-gradient(top,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); [> Opera 11.10+ <]*/
    /*background: -ms-linear-gradient(top,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); [> IE10+ <]*/
    /*background: linear-gradient(to bottom,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); [> W3C <]*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=0 ); [> IE6-9 <]*/

    margin-top: 5px;
  }
}
