<!-- Begin MailChimp Signup Form -->
<div id="signup" class="animated fadeIn">
  <form action="http://celebrityagilist.us7.list-manage.com/subscribe/post?u=f98d4ec093c6ac5e665c2347c&amp;id=c262766b55" method="post" target="_blank" novalidate>
    <h2>Coming in October 2013! Signup to be the first to hear about it.</h2>
    <div class="form-inline">
      <input type="email" value="" name="EMAIL"
      id="mce-EMAIL" placeholder="your email" >
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
    </div>
    <div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->
